<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Mofid Ansari">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.plyr.io/2.0.7/plyr.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <meta name="keywords" content="AnyAudio,Music Streaming,Music Downloading,Youtube Music">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>AnyAudio</title>
</head>
<body>
<!--Main Wrapper-->
<div class="main-wrapper">

  <!--Header-->
  <header>
    <div class="navbar-fixed">
      <nav class="nav--custom nav--transparent">
        <div class="nav-wrapper text-center">
          <a href="/" class="brand-logo">AnyAudio</a>
          <div class="nav-addons">
            <a href="#!" id="menu-bar" class="float-left"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </div>
        </div>
      </nav>
    </div>
    <!--/Header-->

    <!--Nav Overlay-->
    <div id="nav-overlay" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="#!" class="closebtn">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content font-200">
        <div class="nav-links">
          <a class="active" href="/">Home</a>
        </div>
        <div class="about">
          <p><b>AnyAudio</b> - The one stop for all your music needs, delivered in a few clicks.</p>
        </div>
      </div>

      <a href="/terms-of-use" class="tandc-btn">Terms of Use</a>
    </div>

  </header>

  <!--Home Header Section-->
  <div class="home-header">
    <div class="container">
      <div class="search-exp">
        <!--Search form-->
        <div class="search search--lg">
          <form action="explore" class="search-wrapper" autocomplete="off">
            <input type="text" class="search-btn ymp3-search-input" placeholder="Search Your Favourite Song" name="q">
            <div class="search-suggestions">
              <ul class="search-suggestions-res">
              </ul>
             <!-- <div class="popular-suggestions">
                <h4 class="popular-suggestions__title">Popular Playlist</h4>
                <ul class="popular-suggestions_res">
                  <li><a href="#!">popular</a></li>
                  <li><a href="#!">latest</a></li>
                  <li><a href="#!">pop</a></li>
                  <li><a href="#!">electronic</a></li>
                  <li><a href="#!">hiphop</a></li>
                  <li><a href="#!">country</a></li>
                  <li><a href="#!">india</a></li>
                </ul>
              </div>-->
            </div>
            <button class="btn-icon-only" type="submit"><i class="fa fa-2x fa-search"></i></button>
          </form>
        </div>
        <div class="white-space space-sm"></div>
        <div class="or text-center"><span>OR</span></div>
        <div class="white-space space-sm"></div>
        <!--Explore Button-->
        <div class="exp text-center">
          <a href="#home-trending" class="smooth-scroll no-shadow waves-effect waves-light btn white color-primary btn-large">Explore <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
          <a href="/app" class="no-shadow waves-effect waves-light btn white color-primary btn-large" style="margin-left: 10px;">Get App <i class="fa fa-android" aria-hidden="true"></i></a>
        </div>
        <div class="exp text-center" style="margin-top: 10px;">
          <a href="https://web.anyaudio.in" class="no-shadow waves-effect waves-light btn white color-primary
          btn-large">Go to new
            web
            app<i class="fa
          fa-external-link" aria-hidden="true" style="margin-left: 5px;"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--/Home Header-->

  <!--Trending List-->
  <div id="home-trending" class="container">
    <div class="white-space space-md"></div>
    <h1 class="text-center title-deco font-200">
      <span>Trending Music</span>
    </h1>
    <div class="white-space space-sm"></div>
    <!--Preloader-->
    <div id="search-preloader">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
        <div class="white-space space-sm"></div>
      </div>
    </div>
    <!--Results are laoded dynamically here-->
  </div>

  <!--Footer-->
  <div class="bg-color-primary overflow-hidden">
    <footer class="footer container row">
      <div class="footer-site-map col s4">
        <ul class="footer-site-map__links">
          <li><a href="/">Home</a></li>
          <li><a class="smooth-scroll" href="/#home-trending">Explore</a></li>
{#          <li><a href="/lite">Lite</a></li>#}
        </ul>
      </div>
      <div class="footer-logo col s4">AnyAudio</div>
      <div class="footer-social col s4">
        <ul class="social__links">
          <li><a href="https://github.com/anyaudio" class="valign-wrapper" target="_blank"><i class="fa fa-github-alt valign" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/anyaudioin" class="valign-wrapper" target="_blank"><i class="fa fa-twitter valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-facebook valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-google-plus valign" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!--Fixed Items-->
  <div id="stream-player-container" class="stream-player no-music">

    <!--Preloader-->
    <div class="stream-progress valign-wrapper">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <div class="stream-player-wrapper">
      <div class="player-meta">
        <div class="player-albumart">
          <img src="https://img.youtube.com/vi/YQHsXMglC9A/0.jpg" class="">
        </div>
        <div class="player-name-artist">
          <div class="player-name">Adele Hello Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, numquam.</div>
          <div class="player-artist">Adele Vevo</div>
        </div>
      </div>
      <div class="plyr--wrapper">
        <audio class="" id="stream-player" src="" controls preload="metadata">
        </audio>
      </div>
    </div>
  </div>

</div>


<!-- js -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="https://cdn.plyr.io/2.0.7/plyr.js"></script>
<script src="../static/js/main_new.js"></script>
<script>
  $(function() {

//    Smooth scroll
    $('a[href*="#"]:not([href="#"]).smooth-scroll').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });

//    Sticky Nav bar
    var $navbar = $(".nav--custom"),
            y_pos = $navbar.offset().top,
            height = $navbar.height();

    $(document).scroll(function() {
      var scrollTop = $(this).scrollTop();

      if (scrollTop > y_pos + height) {
        $navbar.addClass("nav-white","nav-sticky").animate({
          top: 0
        });
        $navbar.removeClass("nav--transparent");
      } else if (scrollTop <= y_pos) {
        $navbar.removeClass("nav-white","nav-sticky").clearQueue().animate({
          top: "-80px"
        }, 0);
        $navbar.addClass("nav--transparent");
      }
    });

//    Initialise trending playlist
    trendingInit();

  });
</script>
</body>
</html>
