<!--
  source
  https://github.com/aviaryan/youtube-mp3-server
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Avi Aryan">
    <link rel="author" href="https://plus.google.com/u/0/+AviAryan/posts">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
    <title>AnyAudio | Lite</title>
</head>
<body>

<div class="header">
    <h1>AnyAudio Lite</h1>
</div>

<div id="container">
    <div id="container" style="margin-bottom: 10px;">
        <a href="/">Switch to default version</a>
    </div>

    <div id="terms_text">
        <small>By using this website, you agree to our <a href="/terms-of-use">Terms
            of Use</a></small>
    </div>

    <audio controls src="{{ video['stream_url'] }}" href="{{ video['stream_url'] }}">
        Audio Player not supported.
    </audio>
    <div>
        <a href="{{ video['download_url'] }}">Download</a>
    </div>
    <h3>Related Videos - </h3>
    {% for result in video['suggestions'] %}
        <div class="search_result">
            <div class="result_image">
                <a class="thumb_link"><img
                        src="{{ result['thumb'] }}"
                        class="thumb"></a>
            </div>
            <div class="result_text">
                <a href="/lite/music/{{ result['id'] }}">
                <span class="title">{{ result['title'] }}</span></a><br>
                <span class="uploader">{{ result['uploader'] }}</span><br>
                <span class="time">{{ result['time'] }}</span> &middot; <span
                    class="views">{{ result['views'] }} views</span><br>
                <span class="length">{{ result['length'] }}</span><br><br>
            </div>
        </div>
    {% endfor %}

</div>

<!-- js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{#<script src="{{ url_for('static', filename='main.js') }}"></script>#}

</body>
</html>
