<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Mofid Ansari">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.plyr.io/2.0.7/plyr.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>AnyAudio</title>
</head>
<body>
<div class="main-wrapper">
  <!--Header-->
  <header>
    <!--Navbar-->
    <div class="navbar-fixed">
      <nav class="nav--custom nav-white">
        <div class="nav-wrapper text-center">
          <a href="/" class="brand-logo">AnyAudio</a>
          <div class="nav-addons">
            <a href="#!" id="menu-bar" class="menu-bar float-left"><i class="fa fa-bars height-auto" aria-hidden="true"></i></a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--/Header-->

  <!--Main Container-->
  <div class="main-contents container">
    <div class="white-space space-sm"></div>
    <!--Result Message-->
    <div id="result-keyword" class="result-tag text-center">
      <h4></h4>
    </div>
    <div class="white-space space-sm"></div>

    <div class="terms-of-use row">
      <div class="terms-content col s12 m10 offset-m1 l10 offset-l1">
        <h1 class="text-center title-deco font-200">
          <span>Terms of Use</span>
       </h1>
       <div class="white-space space-sm"></div>
       <div class="terms-body">
       <!-- Term 1 -->
        <div class="term-list">
          <h3 class="term-list__title">1. Your Acceptance</h3>
          <div class="term-list__text">BY USING OR VISITING THIS WEBSITE (together with all Content available through the anyaudio.in domain name, the "Website"), OR SUBMITTING CONTENT TO THIS WEBSITE, YOU SIGNIFY YOUR ASSENT TO THESE TERMS AND CONDITIONS (the "Terms & Conditions"). These Terms & Conditions apply to all users of the Website. If you do not agree to these Terms & Conditions or the Privacy Policy, then please do not use the Website. IF YOU DONT UNDERSTAND THE ENGLISH LANGUAGE, then please use a translator or do not use the website.</div>
        </div>
        <div class="white-space space-sm"></div>

        <!-- Term 2 -->
        <div class="term-list">
          <h3 class="term-list__title">2. Links</h3>
          <div class="term-list__text">The Website may contain links to third party websites that are not owned or controlled by anyaudio.in. anyaudio.in is not affiliated with those websites, has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, anyaudio will not and cannot censor or edit the content of any third-party site. By using the Website, you expressly release anyaudio from any and all liability arising from your use of any third-party website. Accordingly, we encourage you to be aware when you have left the Website and to read the terms and conditions and privacy policy of each other website that you visit. anyaudio does not host any of the videos embedded here.</div>
        </div>
        <div class="white-space space-sm"></div>

        <!-- Term 3 -->
        <div class="term-list">
          <h3 class="term-list__title">3. Website Access</h3>
          <div class="term-list__text">anyaudio.in hereby grants you permission to use the Website, provided that: (i) your use of the Website is solely for your personal, noncommercial use; (ii) you will not copy, distribute or modify any part of the Website without anyaudio.in's prior written authorization; (iii) you will not send unsolicited or unauthorized advertisements, spam, chain letters, etc., (iv) you will not transmit any Content which contains software viruses, or other harmful computer code, files or programs; (v) you will not disrupt servers or networks connected to the Website; and (vi) you comply with these Terms & Conditions. You are solely responsible for the activity that occurs on this Website.</div>
        </div>
        <div class="white-space space-sm"></div>

        <!-- Term 4 -->
        <div class="term-list">
          <h3 class="term-list__title">4. Copyright and Content Policy</h3>
          <div class="term-list__text">anyaudio.in respects the intellectual property rights of others, and requests you to do the same. anyaudio.in does not permit copyright infringing activities and infringement of intellectual property rights on its Website, and anyaudio.in will remove all Content if properly notified that such Content infringes on another's intellectual property rights.</div>
        </div>

       </div>
      </div>

    </div>

    <!--Nav Overlay-->
    <div id="nav-overlay" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="#!" class="closebtn">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content font-200">
        <div class="nav-links">
          <a class="active" href="/">Home</a>
          <a class="active" href="/#home-trending">Explore</a>
        </div>
        <div class="about">
          <p><b>AnyAudio</b> - The one stop for all your music needs, delivered in a few clicks.</p>
        </div>
      </div>
       <a href="/terms-of-use" class="tandc-btn">Terms of Use</a>

    </div>
  </div>
  <!--/Main Container-->

<div class="white-space space-md"></div>
  <!--Footer Wrapper-->
  <div class="bg-color-primary overflow-hidden">
    <footer class="footer container row">

      <!--Sitmap-->
      <div class="footer-site-map col s4">
        <ul class="footer-site-map__links">
          <li><a href="/">Home</a></li>
          <li><a href="/#home-trending" class="smooth-scroll">Explore</a></li>
        </ul>
      </div>

      <!--Logo-->
      <div class="footer-logo col s4">AnyAudio</div>

      <!--Social-->
      <div class="footer-social col s4">
        <ul class="social__links">
          <li><a href="https://github.com/anyaudio" class="valign-wrapper" target="_blank"><i class="fa fa-github-alt valign" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/anyaudioin" class="valign-wrapper" target="_blank"><i class="fa fa-twitter valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-facebook valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-google-plus valign" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!--Fixed Items-->
  <div id="stream-player-container" class="stream-player no-music">

    <!--Preloader-->
    <div class="stream-progress valign-wrapper">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <div class="stream-player-wrapper">
      <div class="player-meta">
        <div class="player-albumart">
          <img src="https://img.youtube.com/vi/YQHsXMglC9A/0.jpg" class="">
        </div>
        <div class="player-name-artist">
          <div class="player-name">Adele Hello Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, numquam.</div>
          <div class="player-artist">Adele Vevo</div>
        </div>
      </div>
      <div class="plyr--wrapper">
        <audio class="" id="stream-player" src="" controls preload="metadata">
        </audio>
      </div>
    </div>
  </div>
</div>

<!-- js -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="https://cdn.plyr.io/2.0.7/plyr.js"></script>
<script src="../static/js/main_new.js"></script>
<script>
  $(document).ready(function(){
    window.history.pushState("object or string", "Title", "/explore");//Removes get parameter from address bar

//    Loads proper result according to data received from homepage
//    Options:1.Search Result, 2.Playlist item
    var queryString = {{ query }}
    var playlist = {{ playlist }}
    if(queryString.length){//Searches for keyword received through get param
      $('#search-preloader').show();
      $('#ymp3-search input').val(queryString);
      loadResult(queryString);
      $('.search-suggestions').addClass('searching');
      loadAutoSuggest(queryString);//Loads the auto suggest
    }
    else if(playlist.length){//loads playlist item through get param
      $('#search-preloader').show();
      loadResult(playlist,1);
    }
  })
</script>
</body>
</html>
