<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Mofid Ansari">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/materialize/css/materialize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/font-awesome-4.6.3/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Youtube MP3 Downloader</title>
</head>
<body>
<div class="main-wrapper">
  <header>
    <div class="navbar-fixed">
      <nav class="nav--custom nav-white">
        <div class="nav-wrapper text-center">
          <a href="/" class="brand-logo">MusicGenie</a>
          <div class="search search--alt">
          <form id="ymp3-search" class="search-wrapper">
              <input type="text" class="search-btn" placeholder="Search Your Favourite Song" name="keyword">
              <button class="btn-icon-only line-height-1" type="submit"><i class="fa fa-search line-height-1 height-auto"></i></button>
            </form>
          </div>
          <div class="nav-addons">
            <a href="#!" class="explore smooth-scroll">Explore</a>
            <a href="#!" id="menu-bar" class="menu-bar float-left"><i class="fa fa-bars height-auto" aria-hidden="true"></i></a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="main-contents container">
    <div class="white-space space-md"></div>
    <div id="result-keyword" class="result-tag text-center">
      <h4></h4>
    </div>
    <div class="white-space space-sm"></div>

    <div id="search-preloader">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
        <div class="white-space space-sm"></div>
      </div>
    </div>

    <div id="search-result" class="result row">
      <!--Result Card-->
     <!-- <div class="col s6 m4 l3">
        <div class="card card&#45;&#45;ym3">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename='img/th_1.jpg') }}">
            <div class="overlay overlay&#45;&#45;dark"></div>
            <div class="meta-duration ">03:59</div>
            <a href="#!" class="btn-dwn valign-wrapper"><i class="valign fa fa-arrow-down fa-2x" aria-hidden="true"></i></a>
          </div>
          <div class="card-content">
            <span class="activator card&#45;&#45;ym3&#45;&#45;title flow-text">Set Fire to Rain - Adele</span>
            <div class="meta">
              <div class="channel color-primary"><i class="fa fa-bullseye" aria-hidden="true"></i>
                Adele</div>
              <div class="views color-primary"><i class="fa fa-eye" aria-hidden="true"></i>
                57,000,000</div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title activator grey-text text-darken-4"><i class="fa fa-times right"></i>Set Fire to Rain - Adele</span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>-->


    </div>

    <!--Nav Overlay-->
    <div id="nav-overlay" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="#!" class="closebtn">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content">
        <a href="/">Home</a>
        <a href="/#home-trending">Explore</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </div>

    </div>
  </div>
  <!--Footer Wrapper-->
  <div class="bg-color-primary overflow-hidden">
    <footer class="footer container row">
      <div class="footer-site-map col s4">
        <ul class="footer-site-map__links">
          <li><a href="#!">Home</a></li>
          <li><a href="#!">Explore</a></li>
          <li><a href="#!">About</a></li>
        </ul>
      </div>
      <div class="footer-logo col s4">MusicGenie</div>
      <div class="footer-social col s4">
        <ul class="social__links">
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-github-alt valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-twitter valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-facebook valign" aria-hidden="true"></i></a></li>
          <li><a href="#!" class="valign-wrapper"><i class="fa fa-google-plus valign" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>

<!-- js -->
<script src="{{ url_for('static', filename='lib/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/materialize/js/materialize.min.js') }}"></script>
<script src="../static/js/main_new.js"></script>
<script>
  $(document).ready(function(){
    window.history.pushState("object or string", "Title", "/explore");
    var queryString = {{ query }}
    var playlist = {{ playlist }}
    console.log(playlist);
    if(queryString.length){
      $('#search-preloader').show();
      $('#ymp3-search input').val(queryString);
      loadResult(queryString);
    }
    else if(playlist.length){
      $('#search-preloader').show();
//      $('#ymp3-search input').val(queryString);
      loadResult(playlist,1);
    }
  })
</script>
</body>
</html>
