<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Mofid Ansari">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/materialize/css/materialize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/font-awesome-4.6.3/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Youtube MP3 Downloader</title>
</head>
<body>
<div class="main-wrapper">
  <header>
    <div class="navbar-fixed">
      <nav class="nav--custom nav-white">
        <div class="nav-wrapper text-center">
          <a href="#" class="brand-logo">MusicGenie</a>
          <div class="search search--alt">
            <form class="search-wrapper">
              <input type="text" class="search-btn" placeholder="Search Your Favourite Song">
              <button class="btn-icon-only line-height-1" type="submit"><i class="fa fa-search line-height-1 height-auto"></i></button>
            </form>
          </div>
          <div class="nav-addons">
            <a href="#!" class="">Explore</a>
            <a href="#!" class="float-left"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </div>
          <ul id="nav-overlay" class="right nav-overlay--hidden">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
<!-- <div class="header">
  <h1>Hello</h1>
</div> -->

<!-- <div id="container">
  <div id="search_group">
    <input type="text" required="required" name="search" id="search" placeholder="Enter your search query" autocomplete="on" />
    <button id="searchBtn">Go</button>
  </div>

  <div id="loading_text" style="display: none;">
    Loading...
  </div>

  <div class="search_result" style="display: none;">
    <div class="result_image">
      <a class="thumb_link"><img src="http://img.youtube.com/vi/jYa1eI1hpDE/0.jpg" class="thumb"></a>
    </div>
    <div class="result_text">
      <span class="title">Song Title</span><br>
      <span class="uploader">SomeVEVO</span><br>
      <span class="time">2 years ago</span> &middot; <span class="views">112,342 views</span><br>
      <span class="length">3:40</span><br><br>
      <a class="download" href="#" data-video="video_id">Get Link</a>
    </div>
  </div>

</div> -->

<!-- js -->
<script src="{{ url_for('static', filename='lib/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/materialize/js/materialize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
