<!--
  source
  https://github.com/aviaryan/youtube-mp3-server
-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Avi Aryan">
  <link rel="author" href="https://plus.google.com/u/0/+AviAryan/posts">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Youtube MP3 Downloader</title>
</head>
<body>

<div class="header">
  <h1>Youtube MP3 downloader</h1>
</div>

<div id="container">
  <div id="search_group">
    <input type="text" required="required" name="search" id="search" placeholder="Enter your search query" autocomplete="on" />
    <button id="searchBtn">Go</button>
  </div>

  <div id="loading_text" style="display: none;">
    Loading...
  </div>

  <div class="search_result" style="display: none;">
    <div class="result_image">
      <a class="thumb_link"><img src="http://img.youtube.com/vi/jYa1eI1hpDE/0.jpg" class="thumb"></a>
    </div>
    <div class="result_text">
      <span class="title">Song Title</span><br>
      <span class="uploader">SomeVEVO</span><br>
      <span class="time">2 years ago</span> &middot; <span class="views">112,342 views</span><br>
      <span class="length">3:40</span><br><br>
      <a class="download" href="#" data-video="video_id">Get Link</a>
    </div>
  </div>

</div>

<!-- js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>
