[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
gunicorn = "*"
eventlet = "*"
greenlet = "*"
"psycopg2" = "*"
mutagen = "*"
pafy = "*"
Flask = "*"
Flask-Cors = "*"
request = "*"
youtube_dl = "*"
htmlparser = "*"
redis = "*"

[requires]
python_version = "3.5"

[scripts]
app = "python app.py"
