body {
	margin: 0;
	background-color: #fdfdfd;
}

.header {
	padding: 1em 0 1em 2em;
	background-color: #dddddd;
	margin-bottom: 1em;
}

#container {
	max-width: 800px;
	margin: 2em auto 0 auto;
}

#search_group {
	display: flex;
	flex-direction: row;
	margin-bottom: .5em;
}

#search_group #search {
	width: 90%;
	max-width: 650px;
	font-size: 1.4em;
}

#search_group #searchBtn {
	font-size: 1.4em;
	min-width: 70px;
	margin-left: auto;  /** pull right **/
}

#terms_text {
	margin-bottom: 2.5em;
}

#loading_text {
	font-size: 2em;
	opacity: 0.7;
	margin-bottom: 1.5em;
}

.search_result {
	display: flex;
	flex-direction: row;
	padding: 1em;
	background: #eeeeee;
	margin-bottom: 1.5em;
	border-right-style: outset;
}

.result_image {
}

.result_text {
	margin-left: 2em;
	margin-top: 1em;
}

.result_text span {
	opacity: 0.8;
}

.search_result .thumb {
	max-width: 200px;
	max-height: 200px;
}

.title {
	font-weight: bold;
	font-size: 1.2em;
}

.uploader {
	font-size: 1.1em;
}

a.btn {
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	border: 1px solid;

	min-width: 100px;
	background: #F5F5F5;
	padding: 0.3em;
}


/**
 * HELPERS
 */

.flex_force {
	display: flex !important;
}
